/.temp
/*/.temp

# IDEA
/*/out
/*/*.iml
/*/.idea

# CLion
/*/cmake-build-debug

# Gradle
/*/build
/*/.gradle
/*/gradlew
/*/gradlew.bat
/*/gradle

#LaTEX
/*/*.aux
/*/*.log
/*/*.out
/*/*.toc
/*/*.bbl
/*/*.blg
/*/*.synctex.gz
